extends layout

block content
  .container
    .page-header
        h1
            a(href='') Flamingo Springs
    section.app
    script(type='text/javascript' src="js/app.js" onload="require('initialize');")