doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/font-awesome.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
    script.
        window.brunch = window.brunch || {};
  body
    nav.navbar.navbar-default
        a.navbar-brand(href="")
    block content