<form action="" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="text">Content</label>
        <textarea class="form-control" id="text" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary submit">Submit</button>
    </div>
</form>