// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { box-sizing: border-box; }

html,
body
    height 100%
    width 100%
body
    overflow-y scroll
body,
input
    font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif
    font-weight 300
    text-rendering optimizeLegibility
ul
    padding 0

/* Navigation */

nav.navbar
    background bgColor
    padding 20px 0px