div.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
            a.navbar-brand(href="/admin") Admin - Flamingo Springs
        div.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href="/admin/pages") Pages
                li
                    a(href="/admin/blog") Blog
                li
                    a(href="/admin/gallery") Gallery
                li
                    a(href="/admin/store") Store
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/logout") Logout